

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-background-color:transparent;
}

.Temps_Tab_Pane
{
	
    -fx-tab-min-width:90px;
    -fx-background-color:#f9fbfc;
}

.tab{
	-fx-tab-position:Left;
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-background-color:transparent;
}


.tab-pane .tab:selected
{
    -fx-background-color: #5542aa;
}

.tab .tab-label { 
  
    -fx-text-fill: white;
 	-fx-font-size:12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    
    -fx-text-fill: white;
}
